<form action="/tweets" method="post">
	<p>
		<label for "tweet[content]">Tweet content:</label>
		<input type="text" name="tweet[content]">
		</label>
	</p>

	<button type='submit' value='create'>Create</button>

</form>
