<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="wrapper">
    	<% if flash.has?(:message) %>
      		<%= flash[:message] %>
    	<% end %>

      <%= yield %>
    </div>

  </body>
</html>
